<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.interactiveliveapp">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:name="com.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.study.main.MainActivity" />
        <activity android:name="com.study.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.study.createroom.CreateLiveActivity" />
        <activity android:name="com.study.register.RegisterActivity" />
        <activity android:name="com.study.editprofile.EditProfileActivity" />
        <activity android:name="com.study.hostlive.HostLiveActivity"
            android:windowSoftInputMode="adjustResize"/>
        <!-- android:windowSoftInputMode：设置软键盘弹出时view的变化模式-->
        <activity android:name="com.study.watcher.WatcherActivity"></activity>
    </application>

</manifest>